{% extends "guitar/wrapper.html" %}

{% block content %}
<hr>

<form action="{% url 'search' %}" method="get" id="search-block-form">{% csrf_token %}
      <div class="form-item">
        <input type="text" name="qwerty" value="" maxlength="128" placeholder="Найти...">
      </div>
      <div class="form-actions">
        <input type="submit" name="op" value="Поиск" class="form-submit">
      </div>
</form>

<hr>

     <button type="button" class="btn btn-link justify-content-md-center">Показать ещё</button>

{% endblock %}