<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Пустите музыку в Вашу жизнь</title>
     <style type="text/css">
   .block1 {
    width: 200px;
    background: #ccc;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    float: left;
   }
     </style>


</head>
<body style="background: pink">

  <div class="block1">Когда-нибудь здесь будет работающий сайт с гитарами, но не сегодня.</div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-7" style="background: lightskyblue">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>